/* General */

* {
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    padding-bottom: 6.25rem;
    position: relative;
}

.row {
    margin: 0;
}

@media (min-width: 768px) {
    #cards-container{
        justify-content: center;
    }
    .card {
        width: 20rem !important;
    }
}

@media (min-width: 992px) {
    .card {
        width: 15rem !important;
    }
    #cards-container{
        justify-content: flex-start;
    }
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: #F2A340 !important;
    border: 2px solid #C28008 !important;
}

.btn-primary:hover {
    background-color: #C28008 !important;
}

.navbar a:hover {
    color: #F2A340;
}

.navbar img {
    width: 50px;
}
